/*Global*/

body{
    padding: 0;
	margin: 0;
	background-color: #f4f4f4;
    font: 15px/1.5Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
  }

.body {clear: both; margin: 0 auto; width: 50%;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*body{
	font: 15px/1.5Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}*/

.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

ol{
	list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}

p {margin-bottom: 1.143em;}

/*Header **/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;

}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* Display */

#content {
  background: #fff;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 20px 20px;
  width: 760px;

  border-radius: 10px;
}

.hentry {
  border-bottom: 1px solid #eee;
  padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}

.entry-title {font-size: 1.429em; margin: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none;}

.hentry .post-info {
	font-style: normal;
	float: left;}

  /* Content */
  .hentry footer {margin-bottom: 2em;}
  .hentry footer address {display: inline;}
  #posts-list footer address {display: block;}

  /* Question Index */
  #posts-list {list-style: none; margin: 0;}
  #posts-list .hentry {padding-left: 200px; position: relative;}
  #posts-list footer {
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
  }

}
/* QUESTION TAB */
#poster{
	padding: 15px;
	color: #ffffff;
	background: #35424a;
}

#poster h1{
	float: left;
}

#poster form{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	/*width: 400px;
	background-color: red;*/
}

#poster input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* PROFILE */

aside#profile{
	float: right;
	width: 30%;
	margin-top: 10px;
}

.card{
	background: #35424a;
	color: #ffffff;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile .card img{
	width: 90px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}